/java/lab1/Lab1/nbproject/private/
/java/lab1/Lab1/build/
/java/lab2/Pesel/nbproject/private/
/java/lab3/MiejsceZerowe/nbproject/private/
/java/lab3/po_lab1/nbproject/private/
/java/lab2/PO_lab1/nbproject/private/
/java/lab2/Samochod/nbproject/private/
/java/lab2/Garaz/nbproject/private/
/java/lab2/Samochod/build/
/java/lab3/Budynek/nbproject/private/
/java/lab3/Osoba/nbproject/private/
